.c-button {
  background-color: white;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px;
  font-size: 14px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .iconfont {
    transform: translateY(10%);
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    scale: 0.85;
  }
}
.c-button-default {
  color: black;
  &:hover {
    color: rgb(202 180 60);
    border-color: rgb(202 180 60);
  }
}
.c-button-primary {
  background-color: #409eff;
  border: 1px solid #409eff;
  &:hover {
    border: 1px solid #409eff;
  }
}
.c-button-success {
  background-color: #67c23a;
  border: 1px solid #67c23a;
  &:hover {
    border: 1px solid #67c23a;
  }
}
.c-button-warning {
  background-color: #e6a23c;
  border: 1px solid #e6a23c;
  &:hover {
    border: 1px solid #e6a23c;
  }
}
.c-button-danger {
  background-color: #f56c6c;
  border: 1px solid #f56c6c;
  &:hover {
    border: 1px solid #f56c6c;
  }
}
.c-button-info {
  background-color: #909399;
  border: 1px solid #909399;
  &:hover {
    border: 1px solid #909399;
  }
}
